
.timelineContent{
    background: #009578;
    border: 5px solid red;
    margin: 0 auto;
    max-width: 750px;
    padding:25px;
    display:grid;
    font-family: 'Fira Sans', 'sans-serif';
    color:white;
}